# Variables de Entorno para Auth0 en Frontend React
VITE_AUTH0_DOMAIN=dev-talentoactivo.us.auth0.com
VITE_AUTH0_CLIENT_ID=PON_AQUI_TU_CLIENT_ID_DE_AUTH0
VITE_AUTH0_AUDIENCE=https://api.talentoactivo.com
